/* portrait tablets, portrait iPad */
@media (min-width:641px) {
	.btn, a.btn {
		width: 50%;
	}

	

	
}

/* Laptop */
@media (min-width:1024px) {
	.btn, a.btn {
		width: 30%;
	}

	footer {
		padding: 10px 0 10px;
	}

	footer p {
		font-size: .75rem;
	}

	footer .nav_icon {
    	font-size: 1.5rem;
    	padding-bottom: 10px;
    }
}